* {
  margin: 0;
  color: white;
}

.first {
  background-color: black;
  height: 100vh;
}

.circle {
  height: 300px;
  width: 300px;
  border: solid;
  border-radius: 50%;
  overflow: hidden;
}

.meNice {
  width: 300px;
  height: 300px;
}

.about-me {
  background-color: #262a56;
  height: 100vh;
}

.jesus-pica {
  height: 100%;
}

.projects {
  background-color: #1f2459;
  height: 80vh;
}

.footer {
  background-color: blueviolet;
}
@media (max-width: 1200px) {
  .first {
    height: 200vh;
  }

  .about-me {
    height: 200vh;
  }
}
